<!DOCTYPE html>

<html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Compare Jobs</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        </head>
        <header>
            <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href='/'>F5 Performance</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/myproject">Home</a></li>
                        <li><a href="/">Add Result</a></li>
                        <li><a href="/">Search Result</a></li>
                        <li><a href="/">Graphs View</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                        {% if session.logged_in %}
                          <li><a href="/myprojec">Logout</a></li>
                        {% else %}
                          <li><a role="presentation" data-toggle="modal" data-target="#RegisterModal" href="#">Register</a></li>
                          <li><a role="presentation" data-toggle="modal" data-target="#LoginModal" href="#">Login</a></li>
                        {% endif %}
                        <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">Register</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form id="main-register" method=post action="/myproject/register">
                                                <dl>
                                                    <dt><label for="username">Username</label>
                                                        <dd><input id="username" name="username" type="text" value=""></dd>
                                                    <dt><label for="email">Email Address</label>
                                                        <dd><input id="email" name="email" type="text" value=""></dd>
                                                    <dt><label for="password">New Password</label>
                                                        <dd><input id="password" name="password" type="password" value=""></dd>
                                                    <dt><label for="confirm">Repeat Password</label>
                                                        <dd><input id="confirm" name="confirm" type="password" value=""></dd>
                                                </dl>
                                                <input class="btn btn-primary" type=submit value=Register>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginlModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="LoginModalLabel">Login</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form id="main-login" action="/myproject/login" class="form-inline" method=post>
                                                <input id="login_user" type="text" class="form-control" placeholder="Username" name="username" value="">
                                                <input id="login_passwd" type="password" class="form-control" placeholder="Password" name="password" value="">
                                                <input class="btn btn-primary" type="submit" value="Login">
                                            </form>
                                            <div class="container">
                                                <br>
                                                <p>No account? <a href='/myproject/register'>Register here</a>.</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
    </header>

    <body>
	    <br>
	    <br>

        {% block body %} {% endblock %}

    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    </body>
</html>
