{% extends "header.html" %}
{% block body %}

	<div id="register_container" class="container">
			<br>
			<br>
			<h4>Please Register:</h4>
			<br>
	    <form id="register-page-form" method=post class="form-inline" action="">
	        <dl>
	            <dt><label for="username">Username</label>
	                <dd><input id="username-register" name="username" type="text" value=""></dd>
	            <dt><label for="email">Email Address</label>
	                <dd><input id="email-register" name="email" type="text" value=""></dd>
	            <dt><label for="password">New Password</label>
	                <dd><input id="password-register" name="password" type="password" value=""></dd>
	            <dt><label for="confirm">Repeat Password</label>
	                <dd><input id="confirm-register" name="confirm" type="password" value=""></dd>
	        </dl>
	        <input class="btn btn-primary" type="submit" value="Register">
	    </form>
	</div>

{% endblock %}
